# Ignore

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.toc
*.pdf
*temp_delete*

chapters/chap01-introduction/intro.synctex.gz

# Allow
# !subjects/CSO/topics/*.pdf
!zz_pdf/main.pdf
