<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Component Website</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  
  <div id="app">
    <!-- Components will be added by index.js -->
  </div>
  
  <!-- Component CSS -->

  <link rel="stylesheet" href="c_01/category-list.css">

  <!-- Component JS -->
  <script src="../vertical-space.js" defer></script>
  <script src="c_01/category-list.js" defer></script>

  <!-- Main JS -->
  <script src="sitedata.js" defer></script>
  <script src="index.js" defer></script>
</body>
</html>
