<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Component Website</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  
  <div id="app">
    <!-- Components will be added by index.js -->
  </div>
  
  <!-- Component CSS -->
  <link rel="stylesheet" href="components/nav-bar/n_01/nav-bar.css">
  <link rel="stylesheet" href="components/nav-bar/n_02/styles.css">
  <link rel="stylesheet" href="components/footer/footer.css">
  <link rel="stylesheet" href="components/ticker/t_01/ticker.css">
  <link rel="stylesheet" href="components/ticker/t_03/image-scroller.css">
  <link rel="stylesheet" href="components/ticker/t_04/card-scroller-04.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="components/ticker/t_05/flickity-component-05.css">
  <link rel="stylesheet" href="components/ticker/t_06/image-carousel-flickity-06.css">
  <link rel="stylesheet" href="components/category-list/category-list.css">

  <!-- Component JS -->
  <script src="components/nav-bar/n_01/nav-bar.js" defer></script>
  <script src="components/nav-bar/n_02/nav-bar.js" defer></script>
  <script src="components/footer/footer.js" defer></script>
  <script src="components/ticker/t_01/ticker.js" defer></script>
  <script src="components/ticker/t_03/image-scroller.js" defer></script>
  <script src="components/ticker/t_04/card-scroller-04.js" defer></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="components/ticker/t_05/flickity-component-05.js" defer></script>
  <script src="components/ticker/t_06/image-carousel-flickity-06.js" defer></script>
  <script src="components/category-list/category-list.js" defer></script>

  <!-- Main JS -->
  <script src="sitedata.js" defer></script>
  <script src="model/data.js" defer></script>
  <script src="index.js" defer></script>
</body>
</html>
