.carousel-container05 {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel05 {
    background: #fff;
  }
  
  .carousel-cell05 {
    width: 12%;
    /* height: 300px; */
    margin-right: 10px;
    overflow: hidden;
    border-radius: 8px;
    background: #eee;
    position: relative;
  }
  
  .carousel-cell05 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  @media (max-width: 768px) {
    .carousel-cell05 {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .carousel-cell05 {
      width: 100%;
    }
  }